/* CSS Document */
body{
	background-image:linear-gradient(rgba(100,100,100,0.9),rgba(150,150,150,0.9)),
		url("../images/gazebo-on-the-campus-of-unc-chapel-hill-north-carolina.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	padding-bottom:50%;
}

h1{
	text-align: center;
	color: white;
}

#selectHolder{
	text-align: center;
}

.infoHolder{
	text-align: center;
}

.infoDisplay{
	text-align: center;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-right: 5%;
	padding-left: 5%;
	display: inline-block;
	background-color: rgba(153,153,153,0.73);
	border-radius: 10%;
	visibility: hidden;
}

.formHolder{
	margin-top:20%;
	text-align:center;
	color:white;
}

form{
	text-align:center;
}
form input{
	display:block;
	margin: auto;
}

.formHolder input{
	width: 35%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#aboutUsInfo{
	width:70%;
	text-align:center;
	margin: auto;
}

.button{
    text-align: center;
    margin-top:1%;
}

#exitText{
	margin-top: 30%;
}

.buttonHolder{
	text-align: center;
	display: block;
}
