<!Doctype html>
<html lang="engl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>Rosemary St. Project</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<div class="formHolder">
		<h1>Welcome to The Rosemary Street Project</h1>
		<div><img src="../static/images/logo.png" height="100px" width="100px "></div>
        <p>Powered by digitizing democracy</p>
        <div id="aboutUsInfo">
			<p>Digitizing Democracy is a social venture aimed at increasing participation in local governments by improving information accessibility and transparency through a digital platform medium. We want to make democracy accessible to everyone.</p>
			<p>We are asking for your demographic information in order to give you the most relevant and personalized information possible.</p>
        </div>
		<form action="{{ url_for('submitFirstPage') }}" method="POST">
			<input type="text" name='name' placeholder="Name"><br>
			<input type="number" name='age' placeholder="Age"><br>
			<input type="number" name='familySize' placeholder="Family Size"><br>
			<input type="text" name='occupation' placeholder="Occupation"><br>
			<select name="race">
				<option>Race</option>
				<option value="white">Caucasian</option>
				<option value="black">Black</option>
				<option value="hispanic">Hispanic</option>
				<option value="native american">Native American</option>
				<option value="asian">Asian/Pacific Islander</option>
			</select>
			<select name="location">
				<option>Where do you live?</option>
				<option value="rosemary Street">Rosemary Street</option>
				<option value="northside"> Northside Neighborhood</option>
				<option value="other">Other</option>
			</select>
			<br><br>
			<input type="submit" name="submit" value="Submit" id="indexSubmitButton">
		</form>
	</div>
</body>
<!--<script type="text/javascript" src="../static/jscript/indexScript.js"></script>-->

</html>