<!Doctype html>
<html lang="engl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.1">
  <title>Rosemary St. Project</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<div class="formHolder">
		<h1>Welcome to The Rosemary Street Project</h1>
		<p>Powered by digitizing democracy</p>
		<form method="POST">
			<input type="text" placeholder="Name">
			<input type="number" placeholder="Age">
			<input type="number" placeholder="Family Size">
			<input type="text" placeholder="Occupation">
			<select>
				<option>Race</option>
				<option value="white">Caucasian</option>
				<option value="black">Black</option>
				<option value="hispanic">Hispanic</option>
				<option value="native american">Native American</option>
				<option value="asian">Asian/Pacific Islander</option>
			</select>
			<select>
				<option>Where do you live?</option>
				<option value="rosemary Street">Rosemary Street</option>
				<option value="northside"> Northside Neighborhood</option>
				<option value="other">Other</option>
			</select>
			<input type="button" name="submit" value="Submit" id="indexSubmitButton">
		</form>
	</div>
</body>
<script type="text/javascript" src="../static/jscript/indexScript.js"></script>

</html>