<!Doctype html>
<html lang="engl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-widt, initial-scale=0.1">
  <title>Rosemary Street Project</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
    
<body>
	<div class="formHolder">
		<h1>Community Feedback</h1>
		<p>Powered by Digitizing Democracy</p>
		<form action="{{ url_for('submitFeedback') }}" method="POST">
			<input type="text" name="feedback" placeholder="What are your thoughts?"><br>
			<input type="text" name="additionalMaterials" placeholder="Would you like to submit any additional materials?"><br>
			<input type="submit" name="submit" value="submit" id="submitButton"><br>
		</form>
	</div>
</body>
<script type="text/javascript" src="../static/jscript/feedbackScript.js"></script>

</html>
